/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/

body {
  background-color: #F8F9FA;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #212529;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}



h2 {
  font-size: 2em;
  font-weight: 700;
}

#about-page h2 { margin-top: 0;}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: -8px;
}

#about-page h3 { margin-top: 0;}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}


/*setting images to full-width*/
img {
  width: 100%;
}


a {
  color: #212529;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #495057;
  text-decoration: none; /* Underlining when hovering over a link */
}


.active a {
    color: #495057;
}


/*CSS code for the button class*/
.button {
  display: inline-block;
  background-color: #E9ECEF;
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #495057;
  transition: 0.8s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}


/*button rules for the mailto button*/
.button-email {
  background-color: #495057;
  color: #E9ECEF;
  font-weight: 400;
  padding: 16px;
  border-radius: 3px;
}

/*button class hover and active state*/

.button-email:hover {
  opacity: 0.8;
  color: #E9ECEF;
  text-decoration: none;
}

.button-resume {
  display: inline-block;
  background-color: #E9ECEF;
  color: #212529;
  font-weight: 400;
  padding: 16px;
  border-radius: 3px;
  border: 2px solid #495057;
  transition: 0.2s opacity;
}

.button-resume:hover {
  text-decoration: none;
  opacity: 0.8;
}


/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/

/*style the <header> element*/
header {
  background-color: #E9ECEF;
  padding: 10px 0 4px;
  position: relative;
  box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/*style the logo*/
header .logo {
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Navigation Styling*/


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  padding-top: 24px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.logo {
max-width: 150px;
}

#hero-section {
  background-color: #E9ECEF;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero-section span {
  display: block;
}

#contact {
    background-color: #E9ECEF;
    padding: 20px;
    text-align: center;
}

#contact h2 {
  margin-bottom: 0px;
}

#contact p {
  padding-bottom: 16px;
}

.aboutMeImg {
  width: 70%;
}

/*Style the social icons*/

.social {
  margin-top: 32px;
}

.social ul {
  list-style-type: none;
  padding: 0px;
}

.social ul li {
  display: inline-block;
}

.social ul li a {
  padding: 10px;
  color: #212529;
  font-size: 35px;
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 20px; }

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*SVG animation*/
svg {
  width: 50%;
max-width: 100%;
height: auto;
}

@keyframes changeColor {
  from {fill: #6C63FF;}
   to {fill: #FD9638;}
}

#Vector_25 {
  animation-duration: 4s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#Vector_15 {
  animation-duration: 4s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#Vector_3 {
  animation-duration: 4s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(0deg);
  }
}

#wave_2 {
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
transform-origin: left;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }

  .col-4 {
    width: 25%;
    float: left;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }

.col-lg-6 {
  width: 50%;
  float: left;
  padding-bottom: 40px;
}

.col-lg-8 {
  width: 100%;
  float: left;
}

}
