/*
Colors used:
Lightest Color: #F8F9FA
300 Color: #E9ECEF
700 Color: #495057
Darkest Color: #212529
*/
body {
  background-color: #F8F9FA;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #212529;
}

header {
  background-color: #E9ECEF;
  padding: 0.625em 0;
  margin: 0;
  text-align: center;
  box-shadow: 3px 18px 26px 0px rgba(50, 50, 50, 0.28);
  position: relative;
}

footer {
  background-color: #E9ECEF;
  display: inline-block;
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0px;
}

img {
  width: 100%;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #495057;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #E9ECEF;
  color: #212529;
  font-weight: 400;
  padding: 16px;
  border-radius: 3px;
  border: 2px solid #495057;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  opacity: 0.8;
}

.button-email {
  background-color: #495057;
  color: #E9ECEF;
  font-weight: 400;
  padding: 16px;
  border-radius: 3px;
  display: inline-block;
}

.button-email:hover {
  opacity: 0.8;
  color: #E9ECEF;
  text-decoration: none;
}

.button-resume {
  display: inline-block;
  background-color: #E9ECEF;
  color: #212529;
  font-weight: 400;
  padding: 16px;
  border-radius: 3px;
  border: 2px solid #495057;
  transition: 0.2s opacity;
}

.button-resume:hover {
  text-decoration: none;
  opacity: 0.8;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work-section .row {
  padding: 25px;
  border-bottom: 3px solid #212529;
}

#hero-section {
  text-align: center;
}

#hero-section h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

.logo {
  max-width: 150px;
  text-align: center;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #212529;
}

nav>ul>li>a:hover {
  opacity: 0.8;
  text-decoration: none;
}

nav>ul>li>a:active {
  font-weight: 700;
  text-decoration: none;
}

#hero-section {
  background-color: #E9ECEF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#social ul {
  list-style-type: none;
  padding: 0px;
}

#social ul li {
  display: inline-block;
}

#social ul li a {
  padding: 10px;
  color: #212529;
  font-size: 35px;
}

#about-section {
  text-align: center;
}

.title {
  text-align: center;
}
